<!-- Default Statcounter code for My professional website
https://www.alexandramanta.info/ -->
<script type="text/javascript">
var sc_project=12708525; 
var sc_invisible=1; 
var sc_security="b15fd631"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12708525/0/b15fd631/1/" alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
